<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../page_jobdetails/css/bootstrap.min.css">
    <link rel="stylesheet" href="../page_jobdetails/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../page_jobdetails/css/magnific-popup.css">
    <link rel="stylesheet" href="../page_jobdetails/css/font-awesome.min.css">
    <link rel="stylesheet" href="../page_jobdetails/css/themify-icons.css">
    <link rel="stylesheet" href="../page_jobdetails/css/nice-select.css">
    <link rel="stylesheet" href="../page_jobdetails/css/flaticon.css">
    <link rel="stylesheet" href="../page_jobdetails/css/gijgo.css">
    <link rel="stylesheet" href="../page_jobdetails/css/animate.min.css">
    <link rel="stylesheet" href="../page_jobdetails/css/slicknav.css">

    <link rel="stylesheet" href="../page_jobdetails/css/style.css">

    <link href="../page_jobdetails/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include('header'); -%>
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3><%= Job_detail.Chucdanh%></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div style="margin: 20px 100px 0px 100px" class="job_details_area">
        <div class="container-fluid"> 
            <div class="">
                <div class="">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="../page_jobdetails/img/svg_icon/1.svg" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <a href="#"><h4><%= Job_detail.Chucdanh%></h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> <%= Job_detail.Noilamviec%></p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> Full-time</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div align="right" class="col-4">
                                <a href="" class="boxed-btn3" data-toggle="modal" data-target="#logoutModal">Apply Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Job description</h4>
                            <pre style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><%= Job_detail.Mota%></pre>
                        </div>
                        <div class="single_wrap">
                            <h4>Qualifications</h4>
                            <pre style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><%= Job_detail.Yeucaucongviec%></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false ">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn ?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Không</button>
                    <form method="post" action="/joblist">
                        <button class="btn btn-secondary" type="submit" value="Submit"/>Có</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="../page_jobdetails/img/logo.png" alt="">
                                </a>
                            </div>
                            <p>
                                finloan@support.com <br>
                                +10 873 672 6782 <br>
                                600/D, Green road, NewYork
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                            <h3 class="footer_title">
                                Company
                            </h3>
                            <ul>
                                <li><a href="#">About </a></li>
                                <li><a href="#"> Pricing</a></li>
                                <li><a href="#">Carrier Tips</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                            <h3 class="footer_title">
                                Category
                            </h3>
                            <ul>
                                <li><a href="#">Design & Art</a></li>
                                <li><a href="#">Engineering</a></li>
                                <li><a href="#">Sales & Marketing</a></li>
                                <li><a href="#">Finance</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">
                            <h3 class="footer_title">
                                Subscribe
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Subscribe</button>
                            </form>
                            <p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems
                                luckily.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="../page_jobdetails/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../page_jobdetails/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../page_jobdetails/js/popper.min.js"></script>
    <script src="../page_jobdetails/js/bootstrap.min.js"></script>
    <script src="../page_jobdetails/js/owl.carousel.min.js"></script>
    <script src="../page_jobdetails/js/isotope.pkgd.min.js"></script>
    <script src="../page_jobdetails/js/ajax-form.js"></script>
    <script src="../page_jobdetails/js/waypoints.min.js"></script>
    <script src="../page_jobdetails/js/jquery.counterup.min.js"></script>
    <script src="../page_jobdetails/js/imagesloaded.pkgd.min.js"></script>
    <script src="../page_jobdetails/js/scrollIt.js"></script>
    <script src="../page_jobdetails/js/jquery.scrollUp.min.js"></script>
    <script src="../page_jobdetails/js/wow.min.js"></script>
    <script src="../page_jobdetails/js/nice-select.min.js"></script>
    <script src="../page_jobdetails/js/jquery.slicknav.min.js"></script>
    <script src="../page_jobdetails/js/jquery.magnific-popup.min.js"></script>
    <script src="../page_jobdetails/js/plugins.js"></script>
    <script src="../page_jobdetails/js/gijgo.min.js"></script>

   
    <script src="../page_jobdetails/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../page_jobdetails/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../page_jobdetails/js/sb-admin-2.min.js"></script>

    <!--contact js-->
    <script src="../page_jobdetails/js/contact.js"></script>
    <script src="../page_jobdetails/js/jquery.ajaxchimp.min.js"></script>
    <script src="../page_jobdetails/js/jquery.form.js"></script>
    <script src="../page_jobdetails/js/jquery.validate.min.js"></script>
    <script src="../page_jobdetails/js/mail-script.js"></script>
</body>

</html>